.zIndex {
  z-index: 1 !important;
}

.pipelineModal {
  width: 800px !important;

  :nth-child(3) {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pipelineSidebar {
    height: 400px;
    min-height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
    border-right: 1px solid #f0f0f0;
  }
  .pipelineContent {
    position: relative;
    height: 400px;
    min-height: 50px;
    padding-top: 20px;
    padding-left: 24px;
    overflow: scroll;
    .pipelineItem {
      border: 1px solid transparent;
      &:hover {
        cursor: pointer;
      }
      &.selected {
        border: 1px solid blue;
      }
    }
  }
}
.steps {
  margin-left: -60px;
  padding-top: 5px !important;
  div {
    width: 50px;
    :first-child {
      ::after {
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
    :nth-child(2) {
      top: 0 !important;
      height: auto !important;
    }

    span {
      top: 0 !important;
      z-index: 1;
      width: 8px !important;
      height: 8px !important;
    }
  }
}
.edit-able {
  color: #000;
  &:hover {
    color: #1890ff !important;
  }
}
.template-chart {
  display: inline-block;
  vertical-align: top;
  .node:last-child::before {
    border-bottom: 1px solid #87d2ff;
  }
  .node:nth-child(n + 2)::before {
    border-left: 1px solid #87d2ff;
  }
  &:first-child {
    :first-child::before {
      left: 50%;
      width: 50%;
      border-right: none;
      border-left: none;
      border-radius: 0 !important;
    }
    :last-child::before {
      left: 50%;
      width: 50%;
      border-left: none;
    }
  }
  &:last-child {
    :first-child::before {
      right: 50%;
      width: 50%;
      border-right: none;
      border-left: none;
      border-radius: 0 !important;
    }
    :last-child::before {
      right: 50%;
      width: 50%;
      border-right: none;
      border-left: none;
      border-radius: 0 !important;
    }
  }
}
.stepContiner {
  padding-right: 0 !important;
}
.node {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: transparent;

  &:first-child::before {
    border-right: none;
    border-left: none;
    border-radius: 0 !important;
  }

  &:last-child::before {
    border-radius: 0 0 16px 16px;
  }
  &::before {
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #87d2ff;
    border-bottom: 1px solid #87d2ff;
    // border-left: 1px solid #87d2ff;
    -webkit-transition: border 0.2s ease-in;
    transition: border 0.2s ease-in;
    content: '';
  }
  .task-container {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}
.table {
  :global(.ant-pro-card-body) {
    padding-right: 0;
    padding-left: 0;
  }
}
